<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>注销驾驶证</key>
	<dict>
		<key>business</key>
		<string>front/companions/17</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>提交身体证明</key>
	<dict>
		<key>business</key>
		<string>front/companions/19</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>注销最高准驾车型和实习准驾车型</key>
	<dict>
		<key>business</key>
		<string>front/companions/18</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>满分考试</key>
	<dict>
		<key>business</key>
		<string>front/companions/16</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>3</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>4</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>驾驶证年审</key>
	<dict>
		<key>business</key>
		<string>front/companions/15</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>3</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>恢复驾驶资格</key>
	<dict>
		<key>business</key>
		<string>front/companions/14</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>4</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>初次申领驾驶证</key>
	<dict>
		<key>business</key>
		<string>front/companions/13</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<key>补换驾驶证</key>
	<dict>
		<key>business</key>
		<string>front/companions/12</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>免检业务</key>
	<dict>
		<key>business</key>
		<string>front/companions/6</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>电动自行车登记</key>
	<dict>
		<key>business</key>
		<string>front/companions/23</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>3</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>申请检验合格标志</key>
	<dict>
		<key>business</key>
		<string>front/companions/22</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_b2b</string>
				<key>office</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<key>申请临时行使车牌号</key>
	<dict>
		<key>business</key>
		<string>front/companions/21</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>补、换领机动车牌证</key>
	<dict>
		<key>business</key>
		<string>front/companions/20</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>3</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>交通违法处理</key>
	<dict>
		<key>business</key>
		<string>front/companions/3</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>路桥刷卡</key>
	<dict>
		<key>business</key>
		<string>front/companions/5</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>注销登记</key>
	<dict>
		<key>business</key>
		<string>front/companions/11</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>转移登记</key>
	<dict>
		<key>business</key>
		<string>front/companions/10</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>3</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2b</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>抵押(质押)登记</key>
	<dict>
		<key>business</key>
		<string>front/companions/9</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>变更登记</key>
	<dict>
		<key>business</key>
		<string>front/companions/8</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>3</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>注册登记</key>
	<dict>
		<key>business</key>
		<string>front/companions/7</string>
		<key>mapStap</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>3</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b2a</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_b1</string>
				<key>office</key>
				<string>2</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>map_A1</string>
				<key>office</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
