<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1F_-1F</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_A1</string>
			<string>map_b1</string>
		</array>
	</dict>
	<key>-1F_1F</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b1</string>
			<string>map_A1</string>
		</array>
	</dict>
	<key>1F_-2Fa</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_A1</string>
			<string>map_b1</string>
			<string>map_b2a</string>
		</array>
	</dict>
	<key>-2Fa_1F</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b2a</string>
			<string>map_b1</string>
			<string>map_A1</string>
		</array>
	</dict>
	<key>1F_-2Fb</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_A1</string>
			<string>map_b2b</string>
		</array>
	</dict>
	<key>-2Fb_1F</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b2b</string>
			<string>map_A1</string>
		</array>
	</dict>
	<key>-1F_-2Fa</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b1</string>
			<string>map_b2a</string>
		</array>
	</dict>
	<key>-2Fa_-1F</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b2a</string>
			<string>map_b1</string>
		</array>
	</dict>
	<key>-1F_-2Fb</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b1</string>
			<string>map_b2b</string>
		</array>
	</dict>
	<key>-2Fb_-1F</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b2b</string>
			<string>map_b1</string>
		</array>
	</dict>
	<key>-2Fa_-2Fb</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b2a</string>
			<string>map_b1</string>
			<string>map_b2b</string>
		</array>
	</dict>
	<key>-2Fb_-2Fa</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b2b</string>
			<string>map_b1</string>
			<string>map_b2a</string>
		</array>
	</dict>
	<key>1F_1F</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_A1</string>
		</array>
	</dict>
	<key>-1F_-1F</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b1</string>
		</array>
	</dict>
	<key>-2Fa_-2Fa</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b2a</string>
		</array>
	</dict>
	<key>-2Fb_-2Fb</key>
	<dict>
		<key>mapStep</key>
		<array>
			<string>map_b2b</string>
		</array>
	</dict>
</dict>
</plist>
